{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block main %}
	<div class="d-flex col-md-6 col-sm-6 p-5 justify-content-center">
		<form method="post">
			<h1 class="h3 mb-3 font-weight-normal">Se Connecter</h1>
			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté !
					{{ app.user.userIdentifier }}
					<a href="{{ path('app_logout') }}">Se deconnecter</a>
				</div>
			{% else %}
				<div class=" p-3">
					<label for="inputEmail">Adresse Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-3" autocomplete="email" required autofocus>
				</div>
				<div class="p-3">
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control mt-3" autocomplete="current-password" required>

				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="p-3">
					<button class="btn btn-lg btn-primary" type="submit">
						Connexion
					</button>
				</div>

			{% endif %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		</form>
	</div>


{% endblock %}
