{% extends 'base.html.twig' %}

{% block title %}Reservation!
{% endblock %}

{% block main %}
	<div class="d-flex col-12 mt-2 mb-1 justify-content-center">
		{% if user is null %}
			<h3>Bienvenue sur l'espace réservation</h3>
		{% else %}
			<h3>Heureux de vous revoir
				{{user.userClient.FirstName}}
				{{user.userClient.LastName}}
				!</h3>
		{% endif %}
	</div>
	<div class="d-flex col-12 p-5 justify-content-center">

		{{form_start(form)}}
		<div class="mb-3">
			{{ form_label(form.date, null, {'label_attr': {'class': 'underline'}})}}
			{{ form_widget(form.date, {'attr': {'class': 'form-control mt-2'}}) }}
		</div>
		<div class="mb-3">
			{{ form_label(form.nameOfClient, null, {'label_attr': {'class': 'underline'}})}}
			{% if user is null %}
				{{ form_widget(form.nameOfClient, {'attr': {'class': 'form-control mt-2'}}) }}
			{% else %}
				{{ form_widget(form.nameOfClient, {'attr': {'class': 'form-control mt-2', 'value' :
				user.userClient.FirstName}}) }}
			{% endif %}

		</div>
		<div class="mb-3">
			{{ form_label(form.nbCouvert, null, {'label_attr': {'class': 'underline'}})}}
			{% if user is null %}
				{{ form_widget(form.nbCouvert, {'attr': {'class': 'form-control mt-2', }}) }}
			{% else %}
				{{ form_widget(form.nbCouvert, {'attr': 
				{'class': 'form-control mt-2', 'value' :
				user.userClient.nbCouvertDefault
			}}) }}
			{% endif %}

		</div>
		<div class="mb-3">
			{{ form_label(form.allergns, null, {'label_attr': {'class': 'underline'}})}}
			{% if user is null %}
				{{ form_widget(form.allergns, {'attr': {'class': 'form-control mt-2'}}) }}
			{% else %}
				{{ form_widget(form.allergns, {'attr': {'class': 'form-control mt-2', 
				'value' :
					user.userClient.allergns}}) }}
			{% endif %}
		</div>
		<div id="nb-place-vacant" class="mb-3"></div>
		<div id="slot_for_day" class="mb-3"></div>
		<div class="mb-3 d-flex justify-content-center align-items-center">
			<input class="btn btn-danger btn-lg" value="Réserver" type="submit">
		</div>
		{{form_end(form)}}

	</div>
	{{ include('./hours/hours.html.twig') }}
{% endblock %}
